* {font-family: 'Noto Sans', sans-serif;}

h2 {
	margin:10px;
	padding:15px;
}

.jumbotron {
	background-color: #FFF8DC;
	background-size: cover;
}

.jumbotron a {
	font-weight: bold;
	color: Crimson ;
	margin: 10px;
}

.login { font-size: 25px;}

form { margin: 10px;
     	padding: 20px;
			font-weight: bold;
}

footer {

      padding: 25px;
}
table {margin-left: : 50px}

th, td {
    padding: 15px;
    text-align: left;
}

.btn {
background-color:	#DC143C;
}

.col-sm-3{padding-left: 60px;}

.col-sm-3 a {
	color: white;
}

.col-sm-3 p{
	margin: 10px;
	padding: 20px;
	background-color:	#DC143C;
	font-weight: bold;
}

.buttons {
	background-color:	#DC143C;
	font-weight: bold;
}

.aboutitem a{
	color:white;
}
