/* GENERAL */
button, .button, .btn, .btn-primary{
	background-color: #dc3545 !important;
	border-color: #FF3D50;
}
button:hover, .button:hover, .btn:hover, .btn-primary:hover{
	background-color: #FF3D50 !important;
	border-color: #FF3D50;
}

.col-centered{
	margin: auto;
}

body, main{
	min-height: 100vh;
}
footer{
	position: static;
	bottom: 0px;
	width: 100%;
	color: white;
}

footer a{
	color: rgba(255,255,255,.8);
}
footer a:hover{
	color: rgba(255,255,255,1);
}

a{
	color: #dc3545;
	text-decoration: none;
}
a:hover{
	color: #FF3D50;
	text-decoration: none;
}

table, thead, tr, th{
	border-top: white !important;
}

/* JUMBOTRON */
.jumbotron{
	display: flex;
	justify-content: space-between;
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 0;
	border-radius: 0;
}

.jumbotron .inline{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

.jumbotron h1 a{
	color: rgba(255,255,255,1);
	text-decoration: none;
}

.jumbotron .login a{
		color: rgba(255,255,255,.8);
}
.jumbotron .login a:hover{
		color: rgba(255,255,255,1);
}

/* INFO AND ERROR MESSAGES */
.alert{
	margin: 20px 0px 20px 0px;
}

/* LOGIN AND SINGUP PAGES */
.login-form, .signup-form{
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-form button, .signup-form button{
	margin-top: 30px;
	margin-bottom: 20px;
}

/* LIST PAGE */
.items{
	margin-top: 30px;
	margin-bottom: 30px;
}

.items h2{
	margin-bottom: 20px;
}
