/* GENERAL */
button, .button, .btn, .btn-primary{
	background-color: #dc3545 !important;
	border-color: #FF3D50;
}
button:hover, .button:hover, .btn:hover, .btn-primary:hover{
	background-color: #FF3D50 !important;
	border-color: #FF3D50;
}

.col-centered{
	margin: auto;
}

a{
	color: #dc3545;
	text-decoration: none;
}
a:hover{
	color: #FF3D50;
	text-decoration: none;
}

.page-title{
	margin-top: 30px;
	margin-bottom: 20px;
}

/* JUMBOTRON */
.jumbotron{
	display: flex;
	justify-content: space-between;
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 0;
	border-radius: 0;
}

.jumbotron .inline{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

.jumbotron h1 a{
	color: rgba(255,255,255,1);
	text-decoration: none;
}

.jumbotron .login a{
		color: rgba(255,255,255,.8);
}
.jumbotron .login a:hover{
		color: rgba(255,255,255,1);
}

/* NAVBAR */
.nav-link{
	color: rgba(255,255,255,.8) !important;
}
.nav-link:hover{
	color: rgba(255,255,255,1) !important;
}

/* FOOTER */
body, main{
	min-height: 100vh;
}
footer{
	margin-top: 30px;
	position: static;
	bottom: 0px;
	width: 100%;
	color: white;
}

footer a{
	color: rgba(255,255,255,.8);
}
footer a:hover{
	color: rgba(255,255,255,1);
}

/* INFO AND ERROR MESSAGES */
.alert{
	margin: 20px 0px 20px 0px;
}

/* LOGIN AND SINGUP PAGES */
.login-form, .signup-form{
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-form button, .signup-form button{
	margin-top: 30px;
	margin-bottom: 20px;
}

/* LIST PAGE */
table, thead, tr, th{
	border-top: white !important;
}

/* CAtEGORIES PAGE */
.categories{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.category{
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.category .image{
	width: 300px;
	height: 300px;
	overflow: hidden;
	text-align: center;
	border-bottom: solid;
}
.category .image img{
	width: auto;
	height: 100%;
	margin: auto;
}


/* ITEM VIEW PAGE */
span.price{
	font-weight: bold;
}



/* ADD AND MODIFY ITEM PAGES */
